<Connectivity>
  ConnectionType {{ connection_type }}
</Connectivity>

<AccountInformation>
  UserName {{ user_name }}
  Password {{ user_password }}
</AccountInformation>

<SystemInformation>
  DistributionType {{ ansible_os_family }}
</SystemInformation>